.container {
	border-radius: 68px;
	height: auto;
	margin: 0 auto;
	background-color: #23A6D5;
	padding: 25px;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	position: relative;
	animation: change 10s ease-in-out infinite;
}

div {
	height: auto;
	width: auto;
	border: 0px solid black;
}

form {
	border: 0px solid #606060;
	border-radius: 25px;
	background-color: #f5f8fa;
	opacity: 1;
	overflow: hidden;
	width: 34%;
	height: auto;
	margin: auto;
	color: #555;
	font-size: 14px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 65px;
	padding-left: 0px;
}

@keyframes change {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

.btn_wrap {
	display: flex;
	justify-content: center;
}

input[id=submit_btn] {
	cursor: pointer;
	border-radius: 15px;
	margin: 30px;
	position: absolute;
	display: inline-block;
}

button[id=datedisplayer] {
	cursor: pointer;
	border-radius: 15px;
	margin: 10px;
}

input[id=ch1],[id=ch2],[id=dd1],[id=dd2],[id=dd3] {
	cursor: pointer;
}

.datew1, .datew2, .checkw, .ddw1, .ddw2, .ddw3, .btn_wrap {
	margin: 5px;
}

.inp {
	width: 250px;
	margin-top: 5px;
}

label {
	display: inline-block;
	width: 150px;
	text-align: right;
}
